.uibox {
    margin-bottom: 20px;
    color: #798795;
    border-radius: 6px;
}
.uibox-yop {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #2c3e50;
    border-radius: 0 0 6px 6px;
}
.uibox-content {
    position: relative;
    padding: 18px 42px 21px 25px;
    margin-top: 2px;
    font-size: 14px;
   -contentne-height: 1.214;
    cursor: pointer;
    background: #34495e;
    background-size: 20px 20px;
    -webkit-transition: .25s;
    transition: .25s;
}
.uibox-content:first-child {
    margin-top: 0;
}
.uibox-content:last-child {
    padding-bottom: 21px;
    border-radius: 0 0 6px 6px;
}
.uibox-content.uibox-done {
    color: #1abc9c;
    background: transparent;
}
.uibox-content.disabled {
    color:rgba(200,200,200,0.3);
    background-color:rgba(200,200,200,0.3);
}
.uibox-content.uibox-done .uibox-name {
    color: #1abc9c;
}
.uibox-content:after {
    position: absolute;
    top: 50%;
    right: 22px;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    content: " ";
    background: #fff;
    border-radius: 50%;
}
.uibox-content.uibox-done:after {
    font-family: 'Flat-UI-Icons';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 21px;
    color: #2c3e50;
    text-align: center;
    text-transform: none;
    content: "\e60a";
    background: #1abc9c;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.uibox-head {
    position: relative;
    padding: 19px 25px 20px;
    color: #34495e;
    background: #1abc9c;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
}
.uibox-head:before {
    position: absolute;
    top: 50%;
    left: 92%;
    display: inline-block;
    margin: -.5em 0 0 -1em;
    font-family: 'Flat-UI-Icons';
    font-size: 16px;
    line-height: 17px;
    /*content: "\e630";*/
}
.uibox-head-field {
    padding: 5px 0;
    margin: 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: #34495e;
    text-indent: 0;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
.uibox-icon {
    float: left;
    padding: 11px 22px 0 0;
    font-size: 24px;
}
.uibox-content {
    padding-top: 1px;
    overflow: hidden;
}
.uibox-name {
    margin: 1px 0 3px;
    font-size: 17px;
    color: #fff;
}